
<body style="background-image: url(http://getwallpapers.com/wallpaper/full/f/2/7/41184.jpg)" >
    
    <div class="jumbotron" style="background-image: url(https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19964-1920x1200.jpg)" ;>

        <center>
            <h1 style="font-family:'Agency FB';font-size:84px;font-style:normal;color:#D3D3D3">
                Null:Void
            </h1>
            <hr width="1050" />

        </center>

        <h2 style="font-family:'Agency FB';font-size:50px;font-style:normal;color:#D3D3D3">Development Team:</h2>

        <p style="font-family:'Agency FB';font-size:24px;font-style:normal;color:#D3D3D3">
            Aaron Rooney, Alex Schell, Donnacha Fallon and Jack Gilmartin
        </p>

        <h2 style="font-family:'Agency FB';font-size:50px;font-style:normal;color:#D3D3D3">
            Description:
        </h2>

        <p style="font-family:'Agency FB';font-size:24px;font-style:normal;color:#D3D3D3">
            Null:Void is a top-down space shooter where the player has to navigate through space
            with their ship, finding and destroying as many asteroids as possible under the time limit.
            Null:Void allows the player to register an account with the game. Players must log in to their account before playing.
            At the end of the game the player's score is sent to the NULL:VOID server where it is then displayed on the website's Leaderboard.           
        </p>

        <p style="font-family:'Agency FB';font-size:24px;font-style:normal;color:#D3D3D3">           
            Worthy pilots take to the null void of space, clearing the area of asteroids that one day may destroy their home planet! 
            They must destroy as many as they can before they are forced to return home and refuel. 
            The pilot with the most asteroids destroyed is deemed the saviour of their home!
        </p>

        <center>
            <p style="font-family:'Agency FB'; color:#D3D3D3 ">
                <a class="btn btn-default" style="background-color:black; font-size:40px; color:#D3D3D3; border-color:purple; border-width:thick">
                    Launch Game
                </a>
            </p>
        </center>
    </div>
</body>