
<body style="background-image: url(http://getwallpapers.com/wallpaper/full/f/2/7/41184.jpg)" >
    
    <div class="jumbotron" style="background-image: url(https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19964-1920x1200.jpg)" ;>

        <center>
            <h1 style="font-family:'Agency FB';font-size:84px;font-style:normal;color:#D3D3D3">
                Null:Void
            </h1>
            <hr width="1050" />

        </center>

        <h2 style="font-family:'Agency FB';font-size:50px;font-style:normal;color:#D3D3D3">Development Team:</h2>

        <p style="font-family:'Agency FB';font-size:24px;font-style:normal;color:#D3D3D3">
            Aaron Rooney, Alex Schell, Donnacha Fallon and Jack Gilmartin
        </p>

        <h2 style="font-family:'Agency FB';font-size:50px;font-style:normal;color:#D3D3D3">
            Description:
        </h2>

        <p style="font-family:'Agency FB';font-size:24px;font-style:normal;color:#D3D3D3">
            Null:Void is a top down space shooter where the player has to navigate through space
            with their ship while trying to manouver around asteroids while trying to fight off the other player in the game.
            Null:Void allows the player to register an account with the game. Players can either stay logged in or logout after they are finished playing
            This will however require a them to log back in. The game also keeps track of player socre and compares there score to a leaderboard of other players.
            (??Add More/Change??) Two worthy pilots take to the null void of space,
            clearing the area of asteroids that one day may destroy your homes! The pilot with most asteroids destroyed is deemed the saviour of his home!
            
        </p>

        
        
        <center>
            <p style="font-family:'Agency FB'; color:#D3D3D3 ">
                <a class="btn btn-default" style="background-color:black; font-size:40px; color:#D3D3D3; border-color:purple; border-width:thick">
                    Launch Game
                </a></p>
        </center>
    </div>
</body>