@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
@*http://csharp-video-tutorials.blogspot.com/2016/12/aspnet-web-api-login-page.html Used for reference.*@
<head>
    <title>Player Login</title>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="padding-top:60px; background-image: url(http://getwallpapers.com/wallpaper/full/f/2/7/41184.jpg)">
    <div class="col-md-10 col-md-offset-1">
        <div class="well">
            <!--Table to capture username and password-->
            <table style="background-color:cadetblue;">
                <thead>
                    <tr class="success">
                        <th colspan="2">
                            Existing User Login
                            <a href="Registration" class="btn btn-success pull-right">
                                Register
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Username</td>
                        <td>
                            <input type="text" id="txtUsername" placeholder="Username" />
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>
                            <input type="password" id="txtPassword"
                                   placeholder="Password" />
                        </td>
                    </tr>
                    <tr style="background-color:cadetblue; color:white">
                        <td colspan="2">
                            <input id="btnLogin" class="btn btn-success" type="button"
                                   value="Login" />
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--This div will display error messages if login fails.-->
            <div id="divError" class="alert alert-danger collapse">
                <a id="linkClose" href="#" class="close">&times;</a>
                <div id="divErrorText"></div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>


    @*http://csharp-video-tutorials.blogspot.com/2016/12/aspnet-web-api-login-page.html Example script seen here.*@
    <script type="text/javascript">
        $(document).ready(function () {

            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });

            $('#btnLogin').click(function () {
                $.ajax({
                    // Post username, password & the grant type to /token
                    url: '/token',
                    method: 'POST',
                    contentType: 'application/json',
                    data: {
                        username: $('#txtUsername').val(),
                        password: $('#txtPassword').val(),
                        grant_type: 'password'
                    },

                    // When the request completes successfully, save the
                    // access token in the browser session storage and
                    // redirect the user to the front page for now.
                    success: function (response) {
                        // Can switch between localStorage and sessionStorage.
                        sessionStorage.setItem("accessToken", response.access_token);
                        window.location.href = "@Url.Action("Index")";
                    },

                    // Display errors if any in the Bootstrap alert <div>
                    error: function (jqXHR) {
                        $('#divErrorText').text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }
                });
            });
        });
    </script>
</body>
</html>